{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <!-- Material-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
     <!-- Inicio del apartado de menu-->
    <div class="container">
        <!-- etiqueta lateral-->
        <aside>
                <div class="top">
                        <div class="logo">
                            <img src="../static/images/logo.png" alt="">
                            <h2>V<span class="danger">Signal</span></h2>
                        </div>
                    
                        <div class="close" id="close-btn">
                            <span class="material-symbols-outlined">
                                close
                                </span>
                        </div>
                </div>
                <!--1-->
                <div class="sidebar">
                    <a href="#">
                        <span class="material-symbols-outlined">
                            grid_view
                            </span>
                            <h3>dashboard</h3>
                    </a>
    
                <!--3-->
        
                    <a href="#" class="active">
                        <span class="material-symbols-outlined">
                            person_outline
                            </span>
                            <h3>Customers</h3>
                    </a>
        
                <!--4-->
        
                    <a href="#">
                        <span class="material-symbols-outlined">
                            receipt_long
                            </span>
                            <h3>Orders</h3>
                    </a>
                <!--5-->
            
                    <a href="#">
                        <span class="material-symbols-outlined">
                            insights
                            </span>
                            <h3>Analytcs</h3>
                    </a>
    
                <!--6-->
        
                    <a href="#">
                        <span class="material-symbols-outlined">
                            mail_outline
                            </span>
                            <h3>Messages</h3>
                            <span class="message-count">2</span>
                    </a>
        
                    <a href="#">
                    
                        <span class="material-symbols-outlined">
                            inventory
                            </span>
                            <h3>Productos</h3>
                            
                    </a>
    
                    <a href="#">
                        <span class="material-symbols-outlined">
                            report_gmailerrorred
                            </span>
                            <h3>Reporte</h3>
                        
                    </a>

    
                    <a href="#">
                        <span class="material-symbols-outlined">
                            settings
                            </span>
                            <h3>Ajustes</h3>
                        
                    </a>


                    <a href="#">
                        <span class="material-symbols-outlined">
                            add
                            </span>
                            <h3>Agregar producto</h3>
                            
                    </a>
    
                    <a href="#">
                        <span class="material-symbols-outlined">
                            logout
                            </span>
                            <h3>Cerrar sesión</h3>
                            
                    </a>
                </div>
            </aside>  
                <!--Find de apartado del menu--> 
                <main>
        <h1>Dashboard</h1>
        <div class="date">
            <input type="date">
        </div>

        <div class="insights">
            <div class="sales">
                <span class="material-symbols-outlined">analytics</span>
                <div class="middle">
                    <div class="left">
                        <h3>Total sales</h3>
                        <h1>$25,024</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle cx='38' cy='38' r='36'></circle>
                        </svg>
                        <div class="number">
                            <p>81%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Last 24 hours</small>
            </div>
            <!-- Ende of sales-->
            <div class="expenses">
                <span class="material-symbols-outlined">bar_chart</span>
                <div class="middle">
                    <div class="left">
                        <h3>Total expenses</h3>
                        <h1>$14,203</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle cx='38' cy='38' r='36'></circle>
                        </svg>
                        <div class="number">
                            <p>62%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Last 24 hours</small>
            </div>
            <!-- Ende of expenses-->
            <div class="income">
                <span class="material-symbols-outlined">show_chart</span>
                <div class="middle">
                    <div class="left">
                        <h3>Total income</h3>
                        <h1>$10,024</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle cx='38' cy='38' r='36'></circle>
                        </svg>
                        <div class="number">
                            <p>44%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Last 24 hours</small>
            </div>
            <!-- Ende of income-->
        </div>
        <!--termina las tarjetas-->
        <div class="recent-order">
            <h2>Orden reciente</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nombre de producto</th>
                        <th>Numero de producto</th>
                        <th>Pagos</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Foldable mini drone</td>
                        <td>85631</td>
                        <td>Due</td>
                        <td class="warning">Pendiente</td>
                        <td class="primary">Detalles</td>
                    </tr>
                    <tr>
                        <td>Foldable mini drone</td>
                        <td>85631</td>
                        <td>Due</td>
                        <td class="warning">Pendiente</td>
                        <td class="primary">Detalles</td>
                    </tr>
                    <tr>
                        <td>Foldable mini drone</td>
                        <td>85631</td>
                        <td>Due</td>
                        <td class="warning">Pendiente</td>
                        <td class="primary">Detalles</td>
                    </tr>
                    <tr>
                        <td>Foldable mini drone</td>
                        <td>85631</td>
                        <td>Due</td>
                        <td class="warning">Pendiente</td>
                        <td class="primary">Detalles</td>
                    </tr>
                    <tr>
                        <td>Foldable mini drone</td>
                        <td>85631</td>
                        <td>Due</td>
                        <td class="warning">Pendiente</td>
                        <td class="primary">Detalles</td>
                    </tr>
                </tbody>
            </table>
            <a href="#">Mostrar todo</a>
        </div>
     </main> 
     <!-- termina el main-->

     <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-symbols-outlined">menu</span>
                </button>
               
                <div class="theme-toggler">
                    <span class="material-symbols-outlined active">light_mode</span>
                    <span class="material-symbols-outlined">dark_mode</span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hey,</p> <b>Daniel</b>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="../static/images/logo.png" alt="">
                    </div>
                </div>
            </div>
            <!-- final del top-->
            <div class="recent-updates">
                <h2>Recent updates</h2>
                    <div class="updates">
                        <div class="update">
                            <div class="profile-photo">
                                <img src="../static/images/logo.png" alt="">
                            </div>  
                            <div class="message">
                                <p><b>1Javier Flores </b>solicito acceso</p>
                                <small class="text-muted">Hace 2 minutos</small>
                            </div>
                        </div> 
                        <div class="update">
                            <div class="profile-photo">
                                <img src="../static/images/logo.png" alt="">
                            </div>  
                            <div class="message">
                                <p><b>2Javier Flores </b>solicito acceso</p>
                                <small class="text-muted">Hace 2 minutos</small>
                            </div>
                        </div> 
                        <div class="update">
                            <div class="profile-photo">
                                <img src="../static/images/logo.png" alt="">
                            </div>  
                            <div class="message">
                                <p><b>3Javier Flores </b>solicito acceso</p>
                                <small class="text-muted">Hace 2 minutos</small>
                            </div>
                        </div> 
                        <div class="update">
                            <div class="profile-photo">
                                <img src="../static/images/logo.png" alt="">
                            </div>  
                            <div class="message">
                                <p><b>4Javier Flores  </b>solicito acceso</p>
                                <small class="text-muted">Hace 2 minutos</small>
                            </div>
                        </div>   
                    </div>
            </div>
            <!-- fin de la parte de actualizaciones recientes -->
            <div class="sales-analytics">
                <h2>Sales analytics</h2>
                <div class="item online">
                        <div class="icon">
                        <span class="material-symbols-outlined">shopping_cart</span>
                        </div>
                    <div class="right">
                            <div class="info">
                                <h3>online orders</h3>
                                <small class="text-muted">Last 24 hours</small>
                            </div>
                            <h5 class="success">+39%</h5>
                            <h3>3849</h3>
                    </div>
                </div>
                <div class="item offline">
                        <div class="icon">
                        <span class="material-symbols-outlined">local_mall</span>
                        </div>
                    <div class="right">
                            <div class="info">
                                <h3>offline orders</h3>
                                <small class="text-muted">Last 24 hours</small>
                            </div>
                            <h5 class="danger">-17%</h5>
                            <h3>1100</h3>
                    </div>
                </div>
                <div class="item customers">
                        <div class="icon">
                        <span class="material-symbols-outlined">person</span>
                        </div>
                    <div class="right">
                            <div class="info">
                                <h3>new customers</h3>
                                <small class="text-muted">Last 24 hours</small>
                            </div>
                            <h5 class="success">+39%</h5>
                            <h3>849</h3>
                    </div>
                </div>
                <div class="item add-product">
                    <div>
                        <span class="material-symbols-outlined">add</span>
                        <h3>add product</h3>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    <script src="{% static './index.js' %}"></script>
</body>
</html>