{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <!-- Material-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
     <!-- Inicio del apartado de menu-->
    <div class="container">
        <!-- etiqueta lateral-->
        <aside>
                <div class="top">
                        <div class="logo">
                            <img src="../static/images/logo_n.png" alt="">
                            <h2>V<span class="danger">Signal</span></h2>
                        </div>
                    
                        <div class="close" id="close-btn">
                            <span class="material-symbols-outlined">
                                close
                                </span>
                        </div>
                </div>
                <!--1-->
                <div class="sidebar">
                    <a href="#">
                        <span class="material-symbols-outlined">
                            grid_view
                            </span>
                            <h3>dashboard</h3>
                    </a>
    
                <!--3-->
        
                    <a href="#" class="active">
                        <span class="material-symbols-outlined">
                            person_outline
                            </span>
                            <h3>Customers</h3>
                    </a>
        
                <!--4-->
        
                    <a href="#">
                        <span class="material-symbols-outlined">
                            receipt_long
                            </span>
                            <h3>Orders</h3>
                    </a>
                <!--5-->
            
                    <a href="#">
                        <span class="material-symbols-outlined">
                            insights
                            </span>
                            <h3>Analytcs</h3>
                    </a>
    
                <!--6-->
        
                    <a href="#">
                        <span class="material-symbols-outlined">
                            mail_outline
                            </span>
                            <h3>Messages</h3>
                            <span class="message-count">2</span>
                    </a>
        
                    <a href="#">
                    
                        <span class="material-symbols-outlined">
                            inventory
                            </span>
                            <h3>Productos</h3>
                            
                    </a>
    
                    <a href="#">
                        <span class="material-symbols-outlined">
                            report_gmailerrorred
                            </span>
                            <h3>Reporte</h3>
                        
                    </a>

    
                    <a href="#">
                        <span class="material-symbols-outlined">
                            settings
                            </span>
                            <h3>Ajustes</h3>
                        
                    </a>


                    <a href="#">
                        <span class="material-symbols-outlined">
                            add
                            </span>
                            <h3>Agregar producto</h3>
                            
                    </a>
    
                    <a href="#">
                        <span class="material-symbols-outlined">
                            logout
                            </span>
                            <h3>Cerrar sesión</h3>
                            
                    </a>
                </div>
            <!--Find de apartado del menu-->
        </aside>    
    </div>
     <main></main>  
</body>
</html>