{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" href="{%static 'css/modalStyle.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <!-- Material-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
     <!-- Inicio del apartado de menu-->
    <div class="container">
        <!-- etiqueta lateral-->
        <aside>
                <div class="top">
                        <div class="logo">
                            <img src="../static/images/logo.png" alt="">
                            <h2>V<span class="danger">Signal</span></h2>
                        </div>
                    
                        <div class="close" id="close-btn">
                            <span class="material-symbols-outlined">
                                close
                                </span>
                        </div>
                </div>
                <!--1-->
                <div class="sidebar">
                <!--3-->
        
                    <a href="{% url 'grafpulso'%}" >
                        <span class="material-symbols-outlined">
                            graphic_eq
                            </span>
                            <h3>Gráfica de pulso</h3>
                    </a>
        
                <!--4-->
        
                    <a class="active">
                        <span class="material-symbols-outlined">
                            show_chart
                            </span>
                            <h3>Gráfica lineal</h3>
                    </a>
                <!--5-->
            
                    <a href="{% url 'grafbarra'%}">
                        <span class="material-symbols-outlined">
                            bar_chart
                            </span>
                            <h3>Gráfica de barra</h3>
                    </a>
    
                <!--6-->
                    <a href="{% url 'historial_view'%}">
                    
                        <span class="material-symbols-outlined">
                            database
                            </span>
                            <h3>Historial de datos</h3>
                            
                    </a>

                    <a href="{% url 'logout' %}">
                        <span class="material-symbols-outlined">
                            logout
                            </span>
                            <h3>Cerrar sesión</h3>
                            
                    </a>
                </div>
            </aside>  
                <!--Find de apartado del menu--> 
                <main>
        <h1>Gráfica lineal</h1>
        <div class="insights">
            <div class="sales">
                <span class="material-symbols-outlined">analytics</span>
                <div class="middle">
                    <div class="left">
                        <div id="graficalineal" style="width: 800px; height: 400px;  background-color: transparent;"></div>  
                        <button id="toggle-btn" onclick="toggleUpdate()" style="display: none;">Iniciar</button>
                        <p id="connection-status"></p>
                      <!-- <canvas id="pulso-chart" width="800" height="400"></canvas>-->
                </div>
                <!--small class="text-muted">Last 24 hours</small-->
            </div>
        </div>
        </div>
        <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p>¿Quieres almacenar los datos?</p>
            <!-- Contenedor para los botones -->
            <div class="modal-buttons">
                <button id="yes-btn" onclick="storeData()">Sí</button>
                <button id="no-btn" onclick="notStoreData()">No</button>
            </div>
            </div>
        </div>
     </main> 
     <!-- termina el main-->
     <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-symbols-outlined">menu</span>
                </button>
                <div class="profile">
                    <div class="info">
                        <p>Hola,</p> <b style="color: white;">{{ usuario.nombre }}</b>
                        <small class="text-muted">Estudiante</small>
                    </div>
                    <div class="profile-photo">
                        <img src="../static/images/logo.png" alt="">
                    </div>
                </div>
            </div>
            <!-- final del top-->
            <div class="event-container">
                <h2>Eventos recientes</h2>
                <div class="event-header">
                    <button class="control-button pause" onclick="TablePause()">⏸</button>
                    <button class="control-button delete" onclick="TableClean()">🗑</button>
                    <input type="text" placeholder="Search for events" class="search-bar">
                </div>
                <div class="event-table" id="event-table-body">
                    <table>
                        <thead>
                            <tr>
                                <th>DATOS</th>
                                <th>FECHA</th>
                            </tr>
                        </thead>
                        <tbody id="event-body">
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script> <!--SCRIPT PARA MENU HAMBURGUESA-->
    <script src="{% static 'js/alumno_lineal.js' %}"></script>
</body>
</html>